.App {
  text-align: center;
  animation: Fade-in .5s linear;
  display: flex;
  flex-direction: column;
}

.App-header {
  background: linear-gradient(to right, aliceblue, dodgerblue);
}

.App-logo {
  border-radius: 50%;
  width: 20rem;
  margin-top: 3rem;
}

.img-logo-github {
  width: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
  background: transparent;
}

.img-logo-linkedin {
  width: 3rem;
  margin-left: 1rem;
  border-radius: 20%;
}

.resume-button {
  padding: 1rem;
  margin: 2rem;
  border-radius: .375rem;
  color: white;
  background: dodgerblue;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
  width: 10rem;
  border: none;
  justify-content: center;
  font-size: 1rem;
  transition: .25s ease-in-out;
}

.resume-button:hover {
  color: black;
  cursor: pointer;
  background: gold;
}

.app-body {
  background: azure;
  border-top: 2px solid gold;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  align-self: center;
  width: 90%;
}

.project-title {
  margin-left: 7vw;
}

.project-description {
  margin-left: 3vw;
}

.project-img {
  width: 40rem;
  transition: .25s ease-in-out;
}

.project-img:hover {
  cursor: pointer;
  border: 1px solid gold;
  transform: scale(1.1);
}

@keyframes Fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .App-logo {
    width: 10rem;
  }
  .App-header {
    /* height: 40vh; */
  }
  .project-img {
    width: 20rem;
  }
  .resume-button {
    /* top: 35vh; */
  }
  .project {
    flex-direction: column;
    border-bottom: 1px solid dodgerblue
  }
  .project-title {
    margin: 2rem 0;
  }
  .project-description {
    margin: 2rem 0;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
  .App-header {
    /* height: 55vh; */
  }
  .resume-button {
    /* margin-top: 4rem; */
    top: 45vh;
  }
  .img-logo-github {
    margin-top: 1rem;
  }
  .img-logo-linkedin {
    margin-top: 1rem;
  }
  .project {
    border-bottom: 1px solid dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .project-title {
    left: 0;
  }
  .project-description {
    left: 0;
  }
}