body {
  margin: 0;
  background: linear-gradient(to right, aliceblue, dodgerblue);
  font-family: sans-serif;
  background-color: aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto;
}
